.contato-wrapper {
  width: 1200px;
  height: 550px;
  display: flex;
  background-color: var(--background-fundo);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 180px auto;
 
  
}
.contato-left {
  width: 500px;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url("../img/fotos/Rubens-foto-3-cortaaada.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px 0px 0px 5px;
  
}

.contato-right {
 width: 800px;
}
.contato h1 {
display: flex;
justify-content: center;
  font-size: 3rem;
  padding: 30px;
  position: relative;
 
}

.contato h1::before{
  content: "";
  width: 90px;
  height: 3px;
  background-color: var(--cor-detalhe);
  position: absolute;
  top: 85px;
}

.contato-right form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 70px;
  margin: 0 auto;
}
.label-campo{
  font-size: 1.3rem;
  color: var(--branco);
  font-family: var(--font-texto);
}



.input-campo{
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px dashed var(--branco);
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--branco);

}

.campo textarea{
  padding-top: 0.9rem;
  max-height: 3rem;
}





.btn{
  font-size: 1.3rem;
  background-color: var(--cor-detalhe);
  padding: 15px 30px;
  font-family: var(--font-titulo);
  color: var(--branco);
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  text-align: center;
}

@media (max-width:1200px){
  .contato-wrapper{
    width: auto;
  }
  .contato{
    padding: 0 50px;
  }
  .contato-left{
    display: none;
  }

  .contato-wrapper{
    flex-direction: column;
    
  }
.contato-right{
  width: auto;
}


}

@media (max-width:700px){
 
  .contato{
    padding: 0 25px;
  }
  .contato-wrapper{
    margin-top:130px ;
  }
  .contato-right form{
    padding: 0 30px;
  }

  .contato h1 {
    font-size: 2.5rem;
  }
}







