/* footer */

.background-rodape{
  margin-top: 60px;
  background-color: var(--background-fundo);

}
.rodape{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-content: center;
  gap: 3rem;
  padding: 2rem;
}

.sociais-rodape {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-sociais-rodape {
  width: 30px;

}

.direitos-rodape{
  font-family: var(--font-texto);
  color: var(--branco);
  font-size: 1.3rem;
  font-weight: 300;
}

.direitos-rodape{
  text-align: center;
}

