/* menu */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #282538;
  box-shadow: 0px 5px 10px 0px #282538;
}

#menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}


.logo-menu a img{
  width: 55px;
  transition: 0.5s;
}

.logo-menu:hover{
  opacity: 50%;
  transition: 0.5s;
}


#menu a {
  display: block;
 
}

#btn-mobile {
  display: none;
}

.ops-menu a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--branco);
  font-family: var(--font-titulo);
  font-size: 1.3rem;
}

.detalhe-menu{
  position: relative;
}

.detalhe-menu::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 3px;
  background-color: var(--branco);
  transition: 0.3s width linear;
 
}
.detalhe-menu:hover::after{
  width: 100%;
}
.contact{
  position: relative;
}

.contact::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 3px;
  background-color: var(--cor-detalhe);
  transition: 0.3s width linear;
 
}
.contact:hover::after{
  width: 100%;
}



.ops-menu .contact{
  color: var(--cor-detalhe);
}

.sociais-menu{
  display: none;
}




@media (max-width: 770px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--background-fundo-p);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 2rem 0;
    margin: 0 1rem;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--branco);
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
    
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .logo-menu img{
    width: 70px;
  }

  .sociais-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }



  .contact:hover::after,.detalhe-menu:hover::after{
    display: none;
  }
}

/* fim menu */
