

.background-perfil {
  background: linear-gradient(
      rgba(240, 240, 240, -0.144),
      rgba(38, 35, 53, 1.336)
    ),
    url("../img/axel-small.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 50px 0;
 
}

.foto-perfil {
  border-radius: 50%;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.34);
}

.perfil-titulos {
  color: var(--branco);
  font-family: var(--font-titulo);
  text-align: center;
}
.titulo-perfil {
  font-size: 2.5rem;
  color: var(--cor-detalhe);
  font-weight: 400;
}

.subtitulo-perfil {
  font-size: 1.5rem;
  font-family: var(--font-subtitulos);
  font-weight: 300;
  color: var(--cinza-claro);
}

.subtitulo-perfil span {
  font-family: var(--font-texto);
  font-weight: 600;
  color: var(--branco);
}


@media (min-width: 660px) {

  .background-perfil{
    background: linear-gradient(
      rgba(240, 240, 240, -0.144),
      rgba(38, 35, 53, 1.336)
    ),
    url("../img/axel-media.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .perfil{
    padding: 70px;
  }
  .foto-perfil{
    width: 180px;
    height: 180px;
   
  }

  .titulo-perfil{
    font-size: 2.8rem;
  }

  .subtitulo-perfil{
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) {
  .background-perfil{
    background: linear-gradient(
      rgba(240, 240, 240, -0.144),
      rgba(38, 35, 53, 1.336)
    ),
    url("../img/axel-large.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .perfil{
    padding: 90px;
  }
  .foto-perfil{
    width: 230px;
    height: 230px;
   
  }

  .titulo-perfil{
    font-size: 3.3rem;
  }

  .subtitulo-perfil{
    font-size: 2.2rem;
  }
}
