.container__links-externos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
.link-externo {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  transition: .3s;
}
.link-externo.ativo{
  transform: scale(1.04);
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.6);
  color: #ffd600;
  transition: .3s;
}
@media(min-width:700px){
  .link-externo {
    font-size: 2rem;
  }
  .link-externo:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.6);
    color: #ffd600;
    transition: .3s;
  }
}